body {
    font-family: Arial, sans-serif;
    background: #F4F9F6;
}

header h1 {
    margin: 0;
}

/* Bouton ... */
.menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
}

/* Menu latéral */
.side-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #212529;
    transition: right 0.3s ease;
    z-index: 1000;
}

/* Menu ouvert */
.side-menu.open {
    right: 0;
}
